# Transformação dos Dados

### Iniciaremos com algumas conversões e análises descritivas

In [1]:
# Importação das bibliotecas necessárias
import numpy as np
import pandas as pd
import os

In [2]:
# Leitura da tabela, inferindo os dtypes nas colunas de notas que vamos utilizar.
enade = pd.read_csv('./enade2019/3.DADOS/microdados_enade_2019.txt', 
                    decimal=',', sep=';'
)

C:\Users\topav\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,84,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
# Visualiza as 10 primeiras ocorrências da tabela
enade.head(10)

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2.0,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,6.0,1.0,1.0,1.0,8.0,1.0,1.0,1.0,1.0
6,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,1.0,3.0,3.0,6.0,6.0,3.0,6.0,4.0
7,2019,1,10002,10028,5710,3,1,5103403,51,5,...,8.0,6.0,3.0,2.0,2.0,6.0,8.0,1.0,1.0,3.0
8,2019,1,10002,10028,5710,3,1,5103403,51,5,...,5.0,5.0,1.0,1.0,1.0,5.0,1.0,4.0,3.0,1.0
9,2019,1,10002,10028,5710,3,1,5103403,51,5,...,4.0,4.0,1.0,3.0,3.0,4.0,8.0,3.0,4.0,4.0

In [4]:
# Verificando o schema da tabela
dict(enade.dtypes)

{'NU_ANO': dtype('int64'),
 'CO_IES': dtype('int64'),
 'CO_CATEGAD': dtype('int64'),
 'CO_ORGACAD': dtype('int64'),
 'CO_GRUPO': dtype('int64'),
 'CO_CURSO': dtype('int64'),
 'CO_MODALIDADE': dtype('int64'),
 'CO_MUNIC_CURSO': dtype('int64'),
 'CO_UF_CURSO': dtype('int64'),
 'CO_REGIAO_CURSO': dtype('int64'),
 'NU_IDADE': dtype('int64'),
 'TP_SEXO': dtype('O'),
 'ANO_FIM_EM': dtype('int64'),
 'ANO_IN_GRAD': dtype('float64'),
 'CO_TURNO_GRADUACAO': dtype('float64'),
 'TP_INSCRICAO_ADM': dtype('int64'),
 'TP_INSCRICAO': dtype('int64'),
 'NU_ITEM_OFG': dtype('int64'),
 'NU_ITEM_OFG_Z': dtype('int64'),
 'NU_ITEM_OFG_X': dtype('int64'),
 'NU_ITEM_OFG_N': dtype('int64'),
 'NU_ITEM_OCE': dtype('int64'),
 'NU_ITEM_OCE_Z': dtype('int64'),
 'NU_ITEM_OCE_X': dtype('int64'),
 'NU_ITEM_OCE_N': dtype('int64'),
 'DS_VT_GAB_OFG_ORIG': dtype('O'),
 'DS_VT_GAB_OFG_FIN': dtype('O'),
 'DS_VT_GAB_OCE_ORIG': dtype('O'),
 'DS_VT_GAB_OCE_FIN': dtype('O'),
 'DS_VT_ESC_OFG': dtype('O'),
 'DS_VT_ACE_OFG': dtype('O'),
 'DS_VT_ESC_OCE': dtype('O'),
 'DS_VT_ACE_OCE': dtype('O'),
 'TP_PRES': dtype('int64'),
 'TP_PR_GER': dtype('int64'),
 'TP_PR_OB_FG': dtype('int64'),
 'TP_PR_DI_FG': dtype('int64'),
 'TP_PR_OB_CE': dtype('int64'),
 'TP_PR_DI_CE': dtype('int64'),
 'TP_SFG_D1': dtype('int64'),
 'TP_SFG_D2': dtype('int64'),
 'TP_SCE_D1': dtype('int64'),
 'TP_SCE_D2': dtype('int64'),
 'TP_SCE_D3': dtype('int64'),
 'NT_GER': dtype('O'),
 'NT_FG': dtype('O'),
 'NT_OBJ_FG': dtype('O'),
 'NT_DIS_FG': dtype('O'),
 'NT_FG_D1': dtype('O'),
 'NT_FG_D1_PT': dtype('O'),
 'NT_FG_D1_CT': dtype('O'),
 'NT_FG_D2': dtype('O'),
 'NT_FG_D2_PT': dtype('O'),
 'NT_FG_D2_CT': dtype('O'),
 'NT_CE': dtype('O'),
 'NT_OBJ_CE': dtype('O'),
 'NT_DIS_CE': dtype('O'),
 'NT_CE_D1': dtype('O'),
 'NT_CE_D2': dtype('O'),
 'NT_CE_D3': dtype('O'),
 'CO_RS_I1': dtype('O'),
 'CO_RS_I2': dtype('O'),
 'CO_RS_I3': dtype('O'),
 'CO_RS_I4': dtype('O'),
 'CO_RS_I5': dtype('O'),
 'CO_RS_I6': dtype('O'),
 'CO_RS_I7': dtype('O'),
 'CO_RS_I8': dtype('O'),
 'CO_RS_I9': dtype('O'),
 'QE_I01': dtype('O'),
 'QE_I02': dtype('O'),
 'QE_I03': dtype('O'),
 'QE_I04': dtype('O'),
 'QE_I05': dtype('O'),
 'QE_I06': dtype('O'),
 'QE_I07': dtype('O'),
 'QE_I08': dtype('O'),
 'QE_I09': dtype('O'),
 'QE_I10': dtype('O'),
 'QE_I11': dtype('O'),
 'QE_I12': dtype('O'),
 'QE_I13': dtype('O'),
 'QE_I14': dtype('O'),
 'QE_I15': dtype('O'),
 'QE_I16': dtype('O'),
 'QE_I17': dtype('O'),
 'QE_I18': dtype('O'),
 'QE_I19': dtype('O'),
 'QE_I20': dtype('O'),
 'QE_I21': dtype('O'),
 'QE_I22': dtype('O'),
 'QE_I23': dtype('O'),
 'QE_I24': dtype('O'),
 'QE_I25': dtype('O'),
 'QE_I26': dtype('O'),
 'QE_I27': dtype('O'),
 'QE_I28': dtype('O'),
 'QE_I29': dtype('O'),
 'QE_I30': dtype('O'),
 'QE_I31': dtype('O'),
 'QE_I32': dtype('O'),
 'QE_I33': dtype('O'),
 'QE_I34': dtype('O'),
 'QE_I35': dtype('O'),
 'QE_I36': dtype('O'),
 'QE_I37': dtype('O'),
 'QE_I38': dtype('O'),
 'QE_I39': dtype('O'),
 'QE_I40': dtype('O'),
 'QE_I41': dtype('O'),
 'QE_I42': dtype('O'),
 'QE_I43': dtype('O'),
 'QE_I44': dtype('O'),
 'QE_I45': dtype('O'),
 'QE_I46': dtype('O'),
 'QE_I47': dtype('O'),
 'QE_I48': dtype('O'),
 'QE_I49': dtype('O'),
 'QE_I50': dtype('O'),
 'QE_I51': dtype('O'),
 'QE_I52': dtype('O'),
 'QE_I53': dtype('O'),
 'QE_I54': dtype('O'),
 'QE_I55': dtype('O'),
 'QE_I56': dtype('O'),
 'QE_I57': dtype('O'),
 'QE_I58': dtype('O'),
 'QE_I59': dtype('O'),
 'QE_I60': dtype('O'),
 'QE_I61': dtype('O'),
 'QE_I62': dtype('O'),
 'QE_I63': dtype('O'),
 'QE_I64': dtype('O'),
 'QE_I65': dtype('O'),
 'QE_I66': dtype('O'),
 'QE_I67': dtype('O'),
 'QE_I68': dtype('O')}

#### Itens que vamos utilizar:
- CO_IES
- CO_CATEGAD
- CO_GRUPO
- CO_MODALIDADE
- CO_UF_CURSO
- CO_REGIAO_CURSO
- NU_IDADE
- TP_SEXO
- NT_GER
- NT_FG
- NT_CE

#### Mais alguns itens do questionário do estudante:
- 01: Estado Civil
- 02: Cor ou raça
- 04: Escolaridade do pai
- 05: Escolaridade da mãe
- 08: Renda Familiar
- 10: Situação de trabalho
- 11: Situação de bolsa
- 14: Intercâmbio
- 15: Cotas
- 23: Horas de estudo/ semana
- 25: Motivo de escolha do curso
- 26: Motivo de escolha da IES

##### Vamos alterar o tipo das colunas de 'notas' que vamos utilizar.

In [5]:
# Conversão do tipo das colunas
enade.NT_GER = pd.to_numeric(enade.NT_GER, errors='coerce')
enade.NT_FG = pd.to_numeric(enade.NT_FG, errors='coerce')
enade.NT_CE = pd.to_numeric(enade.NT_CE, errors='coerce')

In [6]:
# Verificando o schema da tabela
dict(enade.dtypes)

{'NU_ANO': dtype('int64'),
 'CO_IES': dtype('int64'),
 'CO_CATEGAD': dtype('int64'),
 'CO_ORGACAD': dtype('int64'),
 'CO_GRUPO': dtype('int64'),
 'CO_CURSO': dtype('int64'),
 'CO_MODALIDADE': dtype('int64'),
 'CO_MUNIC_CURSO': dtype('int64'),
 'CO_UF_CURSO': dtype('int64'),
 'CO_REGIAO_CURSO': dtype('int64'),
 'NU_IDADE': dtype('int64'),
 'TP_SEXO': dtype('O'),
 'ANO_FIM_EM': dtype('int64'),
 'ANO_IN_GRAD': dtype('float64'),
 'CO_TURNO_GRADUACAO': dtype('float64'),
 'TP_INSCRICAO_ADM': dtype('int64'),
 'TP_INSCRICAO': dtype('int64'),
 'NU_ITEM_OFG': dtype('int64'),
 'NU_ITEM_OFG_Z': dtype('int64'),
 'NU_ITEM_OFG_X': dtype('int64'),
 'NU_ITEM_OFG_N': dtype('int64'),
 'NU_ITEM_OCE': dtype('int64'),
 'NU_ITEM_OCE_Z': dtype('int64'),
 'NU_ITEM_OCE_X': dtype('int64'),
 'NU_ITEM_OCE_N': dtype('int64'),
 'DS_VT_GAB_OFG_ORIG': dtype('O'),
 'DS_VT_GAB_OFG_FIN': dtype('O'),
 'DS_VT_GAB_OCE_ORIG': dtype('O'),
 'DS_VT_GAB_OCE_FIN': dtype('O'),
 'DS_VT_ESC_OFG': dtype('O'),
 'DS_VT_ACE_OFG': dtype('O'),
 'DS_VT_ESC_OCE': dtype('O'),
 'DS_VT_ACE_OCE': dtype('O'),
 'TP_PRES': dtype('int64'),
 'TP_PR_GER': dtype('int64'),
 'TP_PR_OB_FG': dtype('int64'),
 'TP_PR_DI_FG': dtype('int64'),
 'TP_PR_OB_CE': dtype('int64'),
 'TP_PR_DI_CE': dtype('int64'),
 'TP_SFG_D1': dtype('int64'),
 'TP_SFG_D2': dtype('int64'),
 'TP_SCE_D1': dtype('int64'),
 'TP_SCE_D2': dtype('int64'),
 'TP_SCE_D3': dtype('int64'),
 'NT_GER': dtype('float64'),
 'NT_FG': dtype('float64'),
 'NT_OBJ_FG': dtype('O'),
 'NT_DIS_FG': dtype('O'),
 'NT_FG_D1': dtype('O'),
 'NT_FG_D1_PT': dtype('O'),
 'NT_FG_D1_CT': dtype('O'),
 'NT_FG_D2': dtype('O'),
 'NT_FG_D2_PT': dtype('O'),
 'NT_FG_D2_CT': dtype('O'),
 'NT_CE': dtype('float64'),
 'NT_OBJ_CE': dtype('O'),
 'NT_DIS_CE': dtype('O'),
 'NT_CE_D1': dtype('O'),
 'NT_CE_D2': dtype('O'),
 'NT_CE_D3': dtype('O'),
 'CO_RS_I1': dtype('O'),
 'CO_RS_I2': dtype('O'),
 'CO_RS_I3': dtype('O'),
 'CO_RS_I4': dtype('O'),
 'CO_RS_I5': dtype('O'),
 'CO_RS_I6': dtype('O'),
 'CO_RS_I7': dtype('O'),
 'CO_RS_I8': dtype('O'),
 'CO_RS_I9': dtype('O'),
 'QE_I01': dtype('O'),
 'QE_I02': dtype('O'),
 'QE_I03': dtype('O'),
 'QE_I04': dtype('O'),
 'QE_I05': dtype('O'),
 'QE_I06': dtype('O'),
 'QE_I07': dtype('O'),
 'QE_I08': dtype('O'),
 'QE_I09': dtype('O'),
 'QE_I10': dtype('O'),
 'QE_I11': dtype('O'),
 'QE_I12': dtype('O'),
 'QE_I13': dtype('O'),
 'QE_I14': dtype('O'),
 'QE_I15': dtype('O'),
 'QE_I16': dtype('O'),
 'QE_I17': dtype('O'),
 'QE_I18': dtype('O'),
 'QE_I19': dtype('O'),
 'QE_I20': dtype('O'),
 'QE_I21': dtype('O'),
 'QE_I22': dtype('O'),
 'QE_I23': dtype('O'),
 'QE_I24': dtype('O'),
 'QE_I25': dtype('O'),
 'QE_I26': dtype('O'),
 'QE_I27': dtype('O'),
 'QE_I28': dtype('O'),
 'QE_I29': dtype('O'),
 'QE_I30': dtype('O'),
 'QE_I31': dtype('O'),
 'QE_I32': dtype('O'),
 'QE_I33': dtype('O'),
 'QE_I34': dtype('O'),
 'QE_I35': dtype('O'),
 'QE_I36': dtype('O'),
 'QE_I37': dtype('O'),
 'QE_I38': dtype('O'),
 'QE_I39': dtype('O'),
 'QE_I40': dtype('O'),
 'QE_I41': dtype('O'),
 'QE_I42': dtype('O'),
 'QE_I43': dtype('O'),
 'QE_I44': dtype('O'),
 'QE_I45': dtype('O'),
 'QE_I46': dtype('O'),
 'QE_I47': dtype('O'),
 'QE_I48': dtype('O'),
 'QE_I49': dtype('O'),
 'QE_I50': dtype('O'),
 'QE_I51': dtype('O'),
 'QE_I52': dtype('O'),
 'QE_I53': dtype('O'),
 'QE_I54': dtype('O'),
 'QE_I55': dtype('O'),
 'QE_I56': dtype('O'),
 'QE_I57': dtype('O'),
 'QE_I58': dtype('O'),
 'QE_I59': dtype('O'),
 'QE_I60': dtype('O'),
 'QE_I61': dtype('O'),
 'QE_I62': dtype('O'),
 'QE_I63': dtype('O'),
 'QE_I64': dtype('O'),
 'QE_I65': dtype('O'),
 'QE_I66': dtype('O'),
 'QE_I67': dtype('O'),
 'QE_I68': dtype('O')}

In [7]:
# NT_GER
enade.NT_GER.describe()

count    386968.000000
mean         44.039703
std          14.532286
min           0.000000
25%          33.200000
50%          43.800000
75%          54.700000
max          93.000000
Name: NT_GER, dtype: float64

In [8]:
# Conta o número de nulos
enade.NT_GER.isnull().sum()

46962

In [9]:
# Quantidade relativa de nulos
enade.NT_GER.isnull().sum() / enade.shape[0] * 100

10.822482888945222

In [10]:
# Visualiza as estatísticas descritivas da Nota Geral, dos alunos da Região Sudeste
enade.loc[
    enade.CO_REGIAO_CURSO == 3
].NT_GER.describe()

count    178966.000000
mean         43.978313
std          14.559778
min           0.000000
25%          33.000000
50%          43.700000
75%          54.700000
max          93.000000
Name: NT_GER, dtype: float64

In [11]:
# Visualiza as estatísticas descritivas apenas para alunos com a nota maior do que ZERO
enade.loc[
    enade.NT_GER > 0
].NT_GER.describe()

count    386607.000000
mean         44.080826
std          14.476595
min           0.300000
25%          33.200000
50%          43.800000
75%          54.700000
max          93.000000
Name: NT_GER, dtype: float64

In [12]:
# Filtrando alunos entre 20 e 50 anos
enade.loc[
    (enade.NU_IDADE >= 20) & 
    (enade.NU_IDADE <= 50)
].NT_GER.describe()

count    382819.000000
mean         44.111764
std          14.518625
min           0.000000
25%          33.300000
50%          43.800000
75%          54.800000
max          93.000000
Name: NT_GER, dtype: float64

In [13]:
# Contar quantos homens e mulheres tem na tabela
enade.TP_SEXO.value_counts() / enade.shape[0] * 100

F    53.759593
M    46.240407
Name: TP_SEXO, dtype: float64

#### Comparação das regiões em relação as notas.

In [14]:
# Vamos agregar utilizando uma média
enade[['NT_GER', 'NT_FG', 'NT_CE']].describe()

              NT_GER          NT_FG          NT_CE
count  386968.000000  386992.000000  386980.000000
mean       44.039703      39.824585      45.428849
std        14.532286      16.244141      16.631859
min         0.000000       0.000000       0.000000
25%        33.200000      28.500000      32.900000
50%        43.800000      39.300000      45.200000
75%        54.700000      51.300000      57.800000
max        93.000000      97.800000     100.000000

In [15]:
# Comparação de médias das notas para cada região do Brasil
enade.groupby('CO_REGIAO_CURSO').agg({
    'NT_GER':'mean',
    'NT_FG':'mean',
    'NT_CE':'mean',
})

                    NT_GER      NT_FG      NT_CE
CO_REGIAO_CURSO
1                40.277951  37.102598  41.318178
2                43.750868  40.053535  44.967358
3                43.978313  40.132506  45.246179
4                45.708881  40.058001  47.578998
5                44.562011  39.172682  46.330265

## Transformações

#### Itens que vamos utilizar:
- CO_IES
- CO_CATEGAD
- CO_GRUPO
- CO_MODALIDADE
- CO_UF_CURSO
- CO_REGIAO_CURSO
- NU_IDADE
- TP_SEXO
- NT_GER
- NT_FG
- NT_CE

#### Mais alguns itens do questionário do estudante:
- 01: Estado Civil
- 02: Cor ou raça
- 04: Escolaridade do pai
- 05: Escolaridade da mãe
- 08: Renda Familiar
- 10: Situação de trabalho
- 11: Situação de bolsa
- 14: Intercâmbio
- 15: Cotas
- 23: Horas de estudo/ semana
- 25: Motivo de escolha do curso
- 26: Motivo de escolha da IES

In [16]:
# Cria uma coluna DESC_PUBLICA para renomear os códigos das 
# Categorias pelas palavras 'Publica' e 'Privada' (criando uma nova coluna)
enade['DESC_PUBLICA'] = ''
enade.loc[
    enade.CO_CATEGAD.isin([118, 120, 121, 10005, 10006, 10007, 10008, 10009, 17634]),
    'DESC_PUBLICA'                    
] = 'Privado'

In [18]:
enade.loc[
    enade.CO_CATEGAD.isin([93, 115, 116, 10001, 10002, 10003]),
    'DESC_PUBLICA'
] = 'Publico'

In [19]:
enade.DESC_PUBLICA.value_counts()

Privado    332879
Publico    100971
               80
Name: DESC_PUBLICA, dtype: int64

In [20]:
enade.DESC_PUBLICA.value_counts() / enade.shape[0] * 100

Privado    76.712603
Publico    23.268960
            0.018436
Name: DESC_PUBLICA, dtype: float64

In [21]:
# Transforma a modalidade (usando o mesmo nome da coluna)
enade.CO_MODALIDADE.value_counts()

1    410542
0     23388
Name: CO_MODALIDADE, dtype: int64

In [22]:
enade['CO_MODALIDADE'] = enade.CO_MODALIDADE.replace({
    0:'EaD',
    1:'Presencial'
})

In [23]:
enade.CO_MODALIDADE.value_counts()

Presencial    410542
EaD            23388
Name: CO_MODALIDADE, dtype: int64

In [24]:
# Transforma a Região (usando o mesmo nome da coluna)
enade['CO_REGIAO_CURSO'] = enade.CO_REGIAO_CURSO.replace({
    1:'Norte',
    2:'Nordeste',
    3:'Sudeste',
    4:'Sul',
    5:'Centro-Oeste'
})

In [25]:
enade.CO_REGIAO_CURSO.value_counts()

Sudeste         202505
Nordeste         91742
Sul              76788
Centro-Oeste     34192
Norte            28703
Name: CO_REGIAO_CURSO, dtype: int64

In [27]:
# Transforma a Cor Raça | QE_I02 | (criando uma nova coluna)
# 'Sabendo que temos um valor em branco'
enade['DESC_COR'] = enade.QE_I02.replace({
    'A':'Branca',
    'B':'Preta',
    'C':'Amarela',
    'D':'Parda',
    'E':'Indigena',
    'F': pd.NA,
    ' ': pd.NA 
})

In [26]:
enade.QE_I02.value_counts()

A    220386
D    135770
B     32869
      26056
C     10093
F      7456
E      1300
Name: QE_I02, dtype: int64

In [28]:
enade.DESC_COR.value_counts()

Branca      220386
Parda       135770
Preta        32869
Amarela      10093
Indigena      1300
Name: DESC_COR, dtype: int64

# Algumas perguntas para responder

#### 1- Qual é a nota geral média dos alunos da região Nordeste?

In [29]:
enade.loc[
    enade.CO_REGIAO_CURSO == 'Nordeste',
    'NT_GER'
].mean()

43.750867656536954

#### 2- Qual é a média da nota do componente específico dos alunos do Rio Grande do Sul de cursos de Engenharia Elétrica?

In [31]:
enade.loc[
    (enade.CO_UF_CURSO == 43) &
    (enade.CO_GRUPO == 5806),
    'NT_CE'
].mean()

34.79692671394829

#### 3- Qual é a média da nota do componente de formação geral de alunas do sexo feminino, pardas, de Minas Gerais em cursos presenciais de Engenharia de Produção?

In [32]:
enade.loc[
    (enade.TP_SEXO == 'F') &
    (enade.DESC_COR == 'Parda') &
    (enade.CO_UF_CURSO == 31) &
    (enade.CO_MODALIDADE == 'Presencial') &
    (enade.CO_GRUPO == 6208),
    'NT_FG'
].mean()

40.04660033167494